:host {
  background-color: var(--app-color-surface-variant);
  color: var(--app-color-on-surface-variant);
  box-shadow: 0.25rem 0.25rem 0 var(--app-color-on-surface-variant);
  border: 0.125rem solid var(--app-color-on-surface-variant);
}
