<header class="app-header">
  <h1 class="app-header-title">{{ headerTitle$ | async }}</h1>
</header>

<div class="app-content">
  @if (isMediumOrLargeWindow$ | async) {
    <nav class="app-nav-rail">
      <ul class="app-nav-rail-list">
        @for (sidenavLink of sidenavLinks; track sidenavLink.route) {
          <li class="app-nav-rail-list-item">
            <a
              class="app-nav-rail-list-item-link"
              routerLinkActive="selected-text"
              [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="sidenavLink.route"
              >{{ sidenavLink.title }}</a
            >
          </li>
        }
      </ul>
    </nav>
  } @else {
    <nav class="app-nav-drawer">
      <ul class="app-nav-drawer-list">
        @for (sidenavLink of sidenavLinks; track sidenavLink.route) {
          <li class="app-nav-drawer-list-item">
            <a
              class="app-nav-drawer-list-item-link"
              routerLinkActive="selected-text"
              [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="sidenavLink.route"
              >{{ sidenavLink.title }}</a
            >
          </li>
        }
      </ul>
    </nav>
  }

  <main class="app-main">
    <router-outlet />
  </main>
</div>
