:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
}

.app-header {
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 0 1rem;
  flex-shrink: 0;
  background-color: var(--app-color-primary);
  color: var(--app-color-on-primary);
  border-bottom: 0.125rem solid var(--app-color-on-surface);

  &-title {
    transform: scaleX(1.33);
    transform-origin: left;
    margin: 0;
  }
}

.app-content {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "nav main";
  flex-grow: 1;
  overflow-y: hidden;
}

.app-nav-drawer {
  grid-area: nav;
  width: 22.5rem;
  background-color: var(--app-color-secondary);
  color: var(--app-color-on-secondary);
  border-right: 0.125rem solid var(--app-color-on-surface);

  &-list {
    padding-inline-start: 2rem;
  }
}

.app-nav-rail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: nav;
  width: 5rem;
  background-color: var(--app-color-secondary);
  color: var(--app-color-on-secondary);
  border-right: 0.125rem solid var(--app-color-on-surface);
  font-size: 0.75rem;

  &-list {
    padding-inline-start: 1.5rem;
  }
}

.app-main {
  grid-area: main;
  overflow-y: auto;
}

@media (max-width: 599.98px) {
  .app-content {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "nav"
      "main";
    overflow-y: auto;
  }

  .app-nav-drawer {
    width: auto;
    border-right: 0;
    border-bottom: 0.125rem solid var(--app-color-on-surface);
  }

  .app-main {
    overflow-y: initial;
  }
}
