.dev-article {
  max-width: 64rem;
  margin: 0 auto;
  padding: 1rem;
}

.dev-projects-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1.5rem;

  &-content-title {
    font-size: 1.5rem;
    font-weight: 700;
  }

  &-content-spacer {
    flex: 1;
  }
}
