.home-link-grid {
  display: grid;
  padding: 1.5rem 1rem;
}

.home-link-button {
  max-width: 16rem;
  padding: 1rem;
  background-color: var(--app-color-secondary);
  color: var(--app-color-on-secondary);
  border-top: 0.0625rem solid white;
  border-right: 0.0625rem solid black;
  border-bottom: 0.0625rem solid black;
  border-left: 0.0625rem solid white;

  &:active {
    border-top: 0.0625rem solid black;
    border-right: 0.0625rem solid white;
    border-bottom: 0.0625rem solid white;
    border-left: 0.0625rem solid black;
  }
}
