html {
  --app-color-surface: #eae6ff;
  --app-color-on-surface: black;
  --app-color-primary: #8066ff;
  --app-color-on-primary: black;
  --app-color-secondary: #eeff99;
  --app-color-on-secondary: black;
}

@media (prefers-color-scheme: dark) {
  html {
    --app-color-surface: #0c0b0d;
    --app-color-on-surface: white;
    --app-color-primary: #4429cc;
    --app-color-on-primary: white;
    --app-color-secondary: #608000;
    --app-color-on-secondary: white;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: var(--app-color-surface);
  color: var(--app-color-on-surface);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 16px;
}

p {
  margin: 0 0 12px;
}

.selected-text {
  color: var(--app-color-surface);
  background-color: var(--app-color-on-surface);
}

a {
  display: inline-block;
  color: inherit;
  font-weight: 700;

  &:focus,
  &:hover {
    @extend .selected-text;
  }
}
