html {
  --app-color-surface: #f9fbfb;
  --app-color-on-surface: #161d1d;
  --app-color-surface-variant: #e2e9e9;
  --app-color-on-surface-variant: #415858;
  --app-color-primary: #1fadad;
  --app-color-on-primary: #ffffff;
  --app-color-primary-container: #d4f7f7;
  --app-color-on-primary-container: #178282;
  --app-color-secondary: #297aa3;
  --app-color-on-secondary: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }

  html {
    --app-color-surface: #0d1212;
    --app-color-on-surface: #e2e9e9;
    --app-color-surface-variant: #415858;
    --app-color-on-surface-variant: #c4d4d4;
    --app-color-primary: #a8f0f0;
    --app-color-on-primary: #0f5757;
    --app-color-primary-container: #178282;
    --app-color-on-primary-container: #d4f7f7;
    --app-color-secondary: #add6eb;
    --app-color-on-secondary: #143d52;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: var(--app-color-surface);
  color: var(--app-color-on-surface);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 16px;
}

p {
  margin: 0 0 12px;
}

.selected-text {
  color: var(--app-color-on-secondary);
  background-color: var(--app-color-secondary);
}

a {
  display: inline-block;
  color: inherit;
  font-weight: 700;
  text-decoration-thickness: 0.125rem;
  transition: 0.3s cubic-bezier(0.2, 0, 0, 1);

  &:focus,
  &:hover {
    @extend .selected-text;
  }
}
